{% extends "layout.html" %}

{% block body %}

	<div style="text-align: center;">
		<h4>{{ app.i18n.labels.servertime }}</h4>
		<span type="button" class="btn btn-primary btn-large" disabled="disabled"><span id="Uhrzeit"></span> {{ app.i18n.labels.o_clock }}</span>
	</div>

	<legend>{{ app.i18n.titles.cronjobs }}</legend>

	<table class="table table-striped">
		{% for key, cronjob in app.data.cronjobs %}
			<tr>
				<td style="width: 70px;">
					<a href="{{ path('cron-edit', {'id': key}) }}" class="btn btn-primary text-right" style="float: right;">
						<span class="glyphicon glyphicon-pencil" style="margin-right: 10px;"></span>{{ app.i18n.labels.edit }}
					</a>
				</td>
				<td>
					<p>
						{% if cronjob.type == 0 %}
							<span style="margin-right: 10px;">{% if (cronjob.time // 60)|length < 2 %}0{% endif %}{{ cronjob.time // 60 }}:{% if (cronjob.time % 60)|length < 2 %}0{% endif %}{{ cronjob.time % 60 }} {{ app.i18n.labels.o_clock }}</span>
						{% else %}
							<span class="glyphicon glyphicon-collapse{% if cronjob.type == 1 %}-top{% endif %}" style="color: orange;"></span>

							{% if cronjob.offset != 0 %}{% if cronjob.offset > 0 %}+{% endif %}{{ cronjob.offset }} {{ app.i18n.labels.min_short }}{% endif %}
						{% endif %}



						<span style="font-size: 14pt;">{{ cronjob.name }}</span>
					</p>
					
					<p>
						{% for i in 0..6 %}
							{% if cronjob.days|slice(i, 1) == 1 %}
								<span class="badge" style="background-color: green;">{{ attribute(app.i18n.days, i+1) }}</span>
							{% else %}
								<span class="badge">{{ attribute(app.i18n.days, i+1) }}</span>
							{% endif %}
						{% endfor %}
					</p>
					
					
					
				</td>
				<td style="width: 70px;">
					<a href="{{ path('cron-delete', {'id': key}) }}" class="btn btn-danger text-right" style="float: right;">
						<span class="glyphicon glyphicon-remove-sign" style="margin-right: 10px;"></span>{{ app.i18n.labels.delete }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>

	<!-- Add -->
	<a href="{{ path('cron-new') }}" class="btn btn-primary text-right" style="float: right; margin-right: 10px;">
		<span class="glyphicon glyphicon-plus-sign" style="margin-right: 10px;"></span>{{ app.i18n.labels.new_cronjob }}
	</a>
	<!-- /Add -->


	<script language="JavaScript">
	<!--
	var Serverzeit = new Date({{ time }});

	$(function() {
		UhrzeitAnzeigen();
	});

	function UhrzeitAnzeigen()
	{
		if(!document.all && !document.getElementById)
		{
			return;
		}

		var Stunden = Serverzeit.getHours();
		var Minuten = Serverzeit.getMinutes();
		var Sekunden = Serverzeit.getSeconds();
		Serverzeit.setSeconds(Sekunden+1);

		if(Stunden <= 9)
		{
			Stunden = "0" + Stunden;
		}

		if(Minuten <= 9)
		{
			Minuten = "0" + Minuten;
		}

		if(Sekunden <= 9)
		{
			Sekunden = "0" + Sekunden;
		}

		Uhrzeitanzeige = Stunden + ":" + Minuten + ":" + Sekunden;

		if(document.getElementById)
		{
			document.getElementById("Uhrzeit").innerHTML = Uhrzeitanzeige
		}
		else if(document.all)
		{
			Uhrzeit.innerHTML = Uhrzeitanzeige;
		}

		setTimeout("UhrzeitAnzeigen()", 1000);
	}
	//-->
	</script>
	
{% endblock %}
