{% extends "layout.html" %}

{% block body %}

<legend>{{ app.i18n.labels.groups }}</legend>

	<table class="table table-striped">
	<!-- Edit -->

	{% for key, group in app.data.groups %}
		<tr>
			<td style="width: 70px;">
				<a href="{{ path('group-edit', {'id': key}) }}" class="btn btn-primary text-right" style="float: right;">
					<span class="glyphicon glyphicon-pencil" style="margin-right: 10px;"></span>{{ app.i18n.labels.edit }}
				</a>
			</td>
			<td>
				<span style="font-size: 14pt;">{{ group }}</span>
			</td>
			<td style="width: 70px;">
				<a href="{{ path('group-delete', {'id': key}) }}" class="btn btn-danger text-right" style="float: right;">
					<span class="glyphicon glyphicon-remove-sign" style="margin-right: 10px;"></span>{{ app.i18n.labels.delete }}
				</a>
			</td>
		</tr>
	{% endfor %}
	</table>

	<!-- Add -->
	<a href="{{ path('group-new') }}" class="btn btn-primary text-right" style="float: right; margin-right: 10px;">
		<span class="glyphicon glyphicon-plus-sign" style="margin-right: 10px;"></span>{{ app.i18n.labels.new_group }}
	</a>
	<!-- /Add -->
	
{% endblock %}