{% extends "index.twig" %}

{% block body %}

<legend>{{ app.i18n.nav.about }}</legend>

<p style="padding: 20px;">
	<strong>{{ app.title }} V{{ app.version }}</strong><br />
	by Christian schilling
</p>
	
{% endblock %}